@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('./_variaveisMixins.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(360deg,rgba(0,0,0,1.8) 0,transparent 60%,rgba(0,0,0,0.8)), url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  background-color: $black;
}

.header {
  padding: 20px  40px;

  .logo {
    width: 165px;
    display: block;

    svg path {
      fill: red;
    }
  }
}

.container {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 60px 65px;
  background-color: rgba(0,0,0,.75);

  h1 {
    color: #fff;
    margin-bottom: 25px;
  }

  form {
    max-width: 100%;

    .inputContainer {
      height: 50px;
      position: relative;
      padding-bottom: 5px;
      border-radius: 5px;
      background-color: #333333;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-bottom: 15px;

      &.err {
        border-bottom: 2px solid #FFA00A;
      }
      

      label {
        position: absolute;
        top: 50%;
        left: 20px;
        color: #8C8C8C;
        transform: translateY(-50%);
        transition: 0.3s;
      }

      input {
        padding-left: 20px;
        font-family: 'Inter', sans-serif;
        height: 25px;
        border-radius: 5px;
        background-color: #333333;
        border: none;
        color: #fff;

        &:focus {
          border: none;
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }

      &.focus {
        label {
          transition: 0.3s;
          top: 13px;
          font-size: 11px;
        }
      }
    }

    .err {
      color: #FFA00A;
      font-size: 13px;
      display: none;

      &.activeErr {
        display: block;
      }
    }

    .senha {
      .mostrarSenha {
        position: absolute;
        right: 0;
        display: none;
        height: 100%;
        border: none;
        padding: 0 10px;
        background-color: #454545;
        font-size: 14px;
        color: #8C8C8C;
        text-transform: uppercase; 

        &.active {
          display: block;
          top: 0;
          border-radius: 0 5px 5px 0;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .btnSubmit {
      display: block;
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 5px;
      margin-top: 40px;
      background-color: #E50914;
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      font-family: 'Inter', sans-serif;
    }

    .flexForm {
      margin: 10px 0 90px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      span {
        display: flex;
        align-items: center;
        column-gap: 2px;

        label {
          font-size: 13px;
          color: #b3b3b3;
        }
      }

      a {
        text-decoration: none;
        font-size: 13px;
        color: #b3b3b3;

        &:hover {
          text-decoration: underline;
          color: #b3b3b3;
        }
      }
    }
  }

  .assistaAgora, .saibaMais {
    color: #b3b3b3;
  }

  .assistaAgora {
    margin-bottom: 10px;
    a {
      text-decoration: none;
      color: #Fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .saibaMais {
    font-size: 13px;
    margin-bottom: 80px;

    span {
      color: #0071eb;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  color: #b3b3b3;
  margin-top: 90px;
  padding: 30px 60px 50px 60px;
  background-color: rgba(0,0,0,.75);

  .containerFooter {
    max-width: 995px;
    margin: 0 auto;

    p {
      margin-bottom: 35px;
    }

    ul {
      list-style: none;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      li:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .selectContainer {
      position: relative;
      margin: 20px 0;
      &::after {
        content: url('../img/globo\ icone.svg');
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 13px;
      }


    }
    
    select {
      font-size: 16px;
      padding: 15px 40px;
      background-color: #000;
      border: 1px solid #737373;
      border-radius: 2px;
      color: #737373;
      -webkit-appearance: none;
      position: relative;

      option {
        border: none;
        background-color: #000;
      }
    }
  }
}

@media(max-width: 740px) {
  body {
    background-color: #000;
    background-image: none;
  }

  .header {
    padding: 20px;
  }

  .container {
    max-width: 100%;
    padding: 30px 40px 2px 40px;
    border-bottom: 1px solid #737373;
  
    form {
      max-width: 100%;
  
      .inputContainer {  
        label {
          font-size: 14px;
        }
      }
    }
  }

  .footer {
    margin-top: 0;
  }
}

@media(max-width: 430px) {
  .header {
    padding: 20px  15px;
  
    .logo {
      width: 80px;
    }
  }

  .container {
    padding: 5px 20px 2px 20px;
  
    form {
      max-width: 100%;
  
      .inputContainer {  
        label {
          font-size: 14px;
        }
      }
    }
  }
}