@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  color: #fff;
  background-color: #222222;
  font-family: "Inter", sans-serif;
}

.header {
  max-width: 100%;
  height: 660px;
  padding: 30px 45px 0 45px;
  background-image: linear-gradient(360deg, rgb(0, 0, 0) 0, transparent 60%, rgba(0, 0, 0, 0.8)), url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px 0px 195px 144px rgba(0, 0, 0, 0.5);
}
.header .flexHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto 158px auto;
}
.header .flexHeader .logo {
  width: 135px;
  display: block;
}
.header .flexHeader .logo svg path {
  fill: #E50914;
}
.header .flexHeader .flexSelectLogin {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header .flexHeader .flexSelectLogin .selectContainer {
  position: relative;
}
.header .flexHeader .flexSelectLogin .selectContainer::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: url("../img/globo icone header.svg");
  display: block;
  left: 5px;
}
.header .flexHeader .flexSelectLogin .selectContainer::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 6px solid #fff;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 14px;
  right: 8px;
}
.header .flexHeader .flexSelectLogin select {
  padding: 8px 25px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  -webkit-appearance: none;
  position: relative;
}
.header .flexHeader .flexSelectLogin select option {
  border: none;
  background-color: #808080;
}
.header .flexHeader .flexSelectLogin a {
  text-decoration: none;
  color: #fff;
  padding: 7px 17px;
  border-radius: 5px;
  background-color: #E50914;
  transition: 0.3s;
}
.header .flexHeader .flexSelectLogin a:hover {
  background-color: #F40612;
  transition: 0.3s;
}
.header h1, .header h2, .header h3 {
  text-align: center;
}
.header h1 {
  max-width: 680px;
  margin: 0 auto 10px auto;
  font-size: 47px;
}
.header h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 35px;
}
.header h3 {
  font-size: 18px;
  font-weight: 400;
}
.header form {
  max-width: 635px;
  margin: 25px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 185px);
  grid-template-rows: 60px auto;
  grid-template-areas: "input btn" "msg msg";
}
.header form .paddingPlaceholder {
  grid-area: input;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.header form .paddingPlaceholder input {
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 15px;
}
.header form .paddingPlaceholder input:focus {
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}
.header form .paddingPlaceholder .placeholderAnimation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  color: #8C8C8C;
  left: 15px;
  transition: 0.3s;
}
.header form .paddingPlaceholder .placeholderAnimation.active {
  font-size: 13px;
  font-weight: 400;
  top: 15px;
  transition: 0.3s;
}
.header form .paddingPlaceholder.active input.err {
  border-bottom: 2px solid #FFA00A !important;
}
.header form .paddingPlaceholder.active input:focus {
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}
.header form .paddingPlaceholder.active .placeholderAnimation {
  font-size: 13px;
  font-weight: 400;
  top: 15px;
  transition: 0.3s;
}
.header form label {
  grid-area: msg;
  display: none;
  font-size: 13px;
  color: #E50914;
  margin-top: 5px;
}
.header form label.err {
  display: block;
}
.header form button {
  grid-area: btn;
  border: none;
  padding-left: 20px;
  background-color: #E50914;
  color: #fff;
  font-size: 25px;
  text-align: start;
  font-family: "Inter", sans-serif;
  position: relative;
  transition: 0.3s;
}
.header form button::after, .header form button::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 20px;
}
.header form button::after {
  top: 24px;
  transform: rotate(40deg);
}
.header form button::before {
  top: 35px;
  transform: rotate(-40deg);
}

.containerContainer {
  background-color: #000;
  margin: 8px 0;
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-areas: ". content .";
}
.containerContainer .sectionGrid {
  grid-area: content;
  max-width: 100%;
  min-width: 1135px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr minmax(auto, 60px) 1fr;
  grid-template-areas: "title . img";
  grid-template-rows: auto;
}
.containerContainer .sectionGrid .title {
  grid-area: title;
}
.containerContainer .sectionGrid .title h1 {
  font-size: 46px;
  margin-bottom: 20px;
}
.containerContainer .sectionGrid .title p {
  font-size: 25px;
}
.containerContainer .sectionGrid .img {
  grid-area: img;
  position: relative;
}
.containerContainer .sectionGrid .img img {
  position: relative;
  z-index: 10;
}
.containerContainer .sectionGrid .img video {
  max-width: 406px;
  height: 227px;
  position: absolute;
  top: 86px;
  left: 73px;
}

.baixeSéries .sectionGrid {
  grid-template-areas: "img . title";
}
.baixeSéries .sectionGrid .img {
  padding: 20px;
}
.baixeSéries .sectionGrid .subFlex {
  display: flex;
  align-items: center;
  width: 335px;
  padding: 10px 12px;
  background-color: #000;
  border: 2px solid #222222;
  border-radius: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 20;
}
.baixeSéries .sectionGrid .subFlex .imgCapa {
  max-width: 50px;
}
.baixeSéries .sectionGrid .subFlex .subTitle p {
  font-size: 15px;
  font-weight: 700;
  margin-left: 15px;
}
.baixeSéries .sectionGrid .subFlex .subTitle span {
  font-size: 14px;
  color: #0071eb;
  margin-left: 15px;
}
.baixeSéries .sectionGrid .subFlex .icodeDeLoading {
  max-width: 55px;
}

.assistaQuandoquiser {
  padding-top: 70px;
}
.assistaQuandoquiser .sectionGrid .title {
  padding-right: 50px;
}
.assistaQuandoquiser .sectionGrid .img video {
  max-width: 337px;
  height: 228px;
  top: 25px;
  left: 105px;
}

.criePerfis .sectionGrid {
  grid-template-areas: "img . title";
  padding-top: 60px;
}
.criePerfis .sectionGrid .img {
  padding: 0 20px;
}

.perguntasFrequentes {
  margin: 8px 0;
  padding: 75px 20px;
  background-color: #000;
}
.perguntasFrequentes h1 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
}
.perguntasFrequentes .perguntasContainer {
  max-width: 815px;
  margin: 0 auto;
}
.perguntasFrequentes .perguntasContainer .pergunta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 20px 30px;
  margin-bottom: 5px;
  font-size: 27px;
  text-align: start;
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: #303030;
}
.perguntasFrequentes .perguntasContainer .pergunta .iconePLus {
  display: block;
  margin-right: 10px;
  position: relative;
  transition: 0.3s;
}
.perguntasFrequentes .perguntasContainer .pergunta .iconePLus::before, .perguntasFrequentes .perguntasContainer .pergunta .iconePLus::after {
  content: "";
  background-color: #fff;
  position: absolute;
}
.perguntasFrequentes .perguntasContainer .pergunta .iconePLus::before {
  width: 27px;
  height: 2px;
  top: 50%;
  transform: translateX(-50%);
}
.perguntasFrequentes .perguntasContainer .pergunta .iconePLus::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 27px;
}
.perguntasFrequentes .perguntasContainer .pergunta.active .iconePLus {
  display: block;
  margin-right: 10px;
  position: relative;
  transform: rotateZ(45deg);
  transition: 0.3s;
}
.perguntasFrequentes .perguntasContainer .resposta {
  padding: 0 30px;
  height: 0px;
  padding: 0 30px;
  overflow-y: hidden;
  margin: 2px auto 5px auto;
  background-color: #303030;
  transition: 0.3s;
}
.perguntasFrequentes .perguntasContainer .resposta p {
  font-size: 26px;
  line-height: 30px;
}
.perguntasFrequentes .perguntasContainer .resposta p + p {
  margin-top: 30px;
}
.perguntasFrequentes .perguntasContainer .resposta.active {
  height: auto;
  padding: 35px 30px;
  transition: 0.3s;
}
.perguntasFrequentes > p {
  font-size: 19px;
  text-align: center;
  margin: 65px 0 20px 0;
}
.perguntasFrequentes form {
  max-width: 635px;
  margin: 25px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 185px);
  grid-template-rows: 60px auto;
  grid-template-areas: "input btn" "msg msg";
}
.perguntasFrequentes form .paddingPlaceholder {
  grid-area: input;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.perguntasFrequentes form .paddingPlaceholder input {
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 15px;
}
.perguntasFrequentes form .paddingPlaceholder input:focus {
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}
.perguntasFrequentes form .paddingPlaceholder .placeholderAnimation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  color: #8C8C8C;
  left: 15px;
  transition: 0.3s;
}
.perguntasFrequentes form .paddingPlaceholder .placeholderAnimation.active {
  font-size: 13px;
  font-weight: 400;
  top: 15px;
  transition: 0.3s;
}
.perguntasFrequentes form .paddingPlaceholder.active input.err {
  border-bottom: 2px solid #FFA00A !important;
}
.perguntasFrequentes form .paddingPlaceholder.active input:focus {
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}
.perguntasFrequentes form .paddingPlaceholder.active .placeholderAnimation {
  font-size: 13px;
  font-weight: 400;
  top: 15px;
  transition: 0.3s;
}
.perguntasFrequentes form label {
  grid-area: msg;
  display: none;
  font-size: 13px;
  color: #E50914;
  margin-top: 5px;
}
.perguntasFrequentes form label.err {
  display: block;
}
.perguntasFrequentes form button {
  grid-area: btn;
  border: none;
  padding-left: 20px;
  background-color: #E50914;
  color: #fff;
  font-size: 25px;
  text-align: start;
  font-family: "Inter", sans-serif;
  position: relative;
  transition: 0.3s;
}
.perguntasFrequentes form button::after, .perguntasFrequentes form button::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 20px;
}
.perguntasFrequentes form button::after {
  top: 24px;
  transform: rotate(40deg);
}
.perguntasFrequentes form button::before {
  top: 35px;
  transform: rotate(-40deg);
}

.footer {
  margin-bottom: 0;
  color: #737373;
  padding-top: 60px;
  background-color: #000;
}
.footer .containerFooter {
  max-width: 830px;
  margin: 0 auto;
}
.footer .containerFooter p {
  font-size: 15px;
}
.footer .containerFooter .flexFooter {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .containerFooter .flexFooter ul {
  list-style: none;
}
.footer .containerFooter .flexFooter ul li {
  font-size: 13px;
  margin-bottom: 13px;
}
.footer .containerFooter .flexFooter ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer .containerFooter .selectContainer {
  position: relative;
  margin: 20px 0;
}
.footer .containerFooter .selectContainer::after {
  content: url("../img/globo icone.svg");
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}
.footer .containerFooter .selectContainer::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 6px solid #737373;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 24px;
  left: 127px;
}
.footer .containerFooter select {
  font-size: 16px;
  padding: 20px 40px;
  background-color: transparent;
  border: 1px solid #737373;
  border-radius: 2px;
  color: #737373;
  -webkit-appearance: none;
  position: relative;
}
.footer .containerFooter select option {
  border: none;
  background-color: #000;
}/*# sourceMappingURL=style.css.map */