@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import './_variaveisMixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  color: $white;
  background-color: $gray_background_body;
  font-family: 'Inter', sans-serif;
}

.header {
  max-width: 100%;
  height: 660px;
  padding: 30px 45px 0 45px;
  background-image: linear-gradient(360deg,rgba(0,0,0,1.8) 0,transparent 60%,rgba(0,0,0,0.8)), url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px 0px 195px 144px $header_shadow;

  .flexHeader {
    @include flexCenterBetween;
    max-width: 1240px;
    margin: 0 auto 158px auto;

    .logo {
      width: 135px;
      display: block;

      svg path {
        fill: $red
      }
    }

    .flexSelectLogin {
      @include flexCenter;
      column-gap: 30px;

      .selectContainer {
        position: relative;

        &::after {
          @include absoluteAlignX;
          content: url('../img/globo\ icone\ header.svg');
          display: block;
          
          left: 5px;
        }

        &::before {
          content: '';
          display: block;
          width: 0px;
          height: 0px;
          border: 6px solid $white;
          border-bottom-color: transparent;
          border-right-color: transparent;
          border-left-color: transparent;
          position: absolute;
          top: 14px;
          right: 8px;
        }
      }

      select {
        padding: 8px 25px;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        -webkit-appearance: none;
        position: relative;

        option {
          border: none;
          background-color: #808080;
        }
      }

      a {
        text-decoration: none;
        color: $white;
        padding: 7px 17px;
        border-radius: 5px;
        background-color: $red;
        transition: 0.3s;

        &:hover {
          background-color: $red_hover;
          transition: 0.3s;
        }
      }
    }
  }

  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    max-width: 680px;
    margin: 0 auto 10px auto;
    font-size: 47px;
  }

  h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 35px;
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
  }

  form {
    max-width: 635px;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 185px);
    grid-template-rows: 60px auto;
    grid-template-areas: "input btn" "msg msg";

    .paddingPlaceholder {
      grid-area: input;
      background-color: $white;
      display: flex;
      align-items: flex-end;
      position: relative;

      input {
        width: 100%;
        height: 45px;
        border: none;
        padding-left: 15px;

        &:focus {
          border: none;
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }

      .placeholderAnimation {
        @include absoluteAlignX;
        position: absolute;
        display: block;
        color:$gray_placeholder;
        left: 15px;
        transition: 0.3s;

        &.active {
          font-size: 13px;
          font-weight: 400;
          top: 15px;
          transition: 0.3s;
        }
      }

      &.err {
        border-bottom: 2px solid $err;
      }
    }

    .paddingPlaceholder.active {
      input {
        &:focus {
          border: none;
          box-shadow: 0 0 0 0;
          outline: 0;
        }

        .placeholderAnimation {
          font-size: 13px;
          font-weight: 400;
          top: 15px;
          transition: 0.3s;
        }
      }

      .placeholderAnimation {
        font-size: 13px;
        font-weight: 400;
        top: 15px;
        transition: 0.3s;
      }

      &.err {
        border-bottom: 2px solid $err;
      }
    }

    label {
      grid-area: msg;
      display: none;
      font-size: 13px;
      color: $red;
      margin-top: 5px;

      &.err {
        display: block;
      }
    }

    button {
      grid-area: btn;
      border: none;
      padding-left: 20px;
      background-color: $red;
      color: $white;
      font-size: 25px;
      text-align: start;
      font-family: 'Inter', sans-serif;
      position: relative;
      transition: 0.3s;

      &::after, &::before {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background-color: $white;
        position: absolute;
        right: 20px;
      }
      &::after {
        top: 24px;
        transform: rotate(40deg);
      }
      &::before {
        top: 35px;
        transform: rotate(-40deg);
      }
    }
  }

}

.containerContainer {
  background-color: $black;
  margin: 8px 0;
  display: grid;
  grid-template-columns: minmax(auto, 90px) 1fr minmax(auto, 90px) ;
  grid-template-areas: '. content .';
  
  .sectionGrid {
    grid-area: content;
    max-width: 1135px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr minmax(auto, 60px) 1fr;
    grid-template-areas: 'title . img';
    grid-template-rows: auto;

    .title {
      grid-area: title;
      h1 {
        font-size: 46px;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 25px;
      }
    }

    .img {
      grid-area: img;
      position: relative; 
      
      img {
        position: relative;
        z-index: 10;
      }

      video { 
        width: 74%; 
        height: 100%;
        top: 48%;
        left: 49%;
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
      }
    }
  }

}

.baixeSéries {
  .sectionGrid {
    grid-template-areas: 'img . title';
    .img {
      padding: 20px;
    }
    .subFlex {
      display: flex;
      align-items: center;
      width: 335px;
      padding: 10px 12px;
      background-color: $black;
      border: 2px solid $gray_background_body;
      border-radius: 14px;
      @include absoluteAlignY;
      bottom: 40px;
      z-index: 20;

      .imgCapa {
        max-width: 50px;
      }

      .subTitle {
        p {
          font-size: 15px;
          font-weight: 700;
          margin-left: 15px;
        }

        span {
          font-size: 14px;
          color: $blue;
          margin-left: 15px;
        }
      }

      .icodeDeLoading {
        max-width: 55px;
      }
    }
  }
} 

.assistaQuandoquiser {
  padding-top: 70px ;
  .sectionGrid {
    .title {
      padding-right: 50px;
    }

    .img {
      video { 
        width: 62%; 
        height: 100%;
        top: 33%;
        left: 49%;
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
      }
    }
  }
}

.criePerfis {
  .sectionGrid {
    grid-template-areas: 'img . title';
    padding-top: 60px;

    .img {
      padding: 0 20px;
    }
  }
}

.perguntasFrequentes {
  margin: 8px 0;
  padding: 75px 20px;
  background-color: $black;

  h1{
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
  }

  .perguntasContainer {
    max-width: 815px;
    margin: 0 auto;

    .pergunta {
      @include flexCenterBetween;
      width: 100%;
      position: relative;
      padding: 20px 30px;
      margin-bottom: 5px;
      font-size: 27px;
      text-align: start;
      color: $white;
      font-family: 'Inter', sans-serif;
      background-color: $gray_background_question;

      .iconePLus {
        display: block;
        margin-right: 10px;
        position: relative;
        transition: 0.3s;

        &::before, &::after {
          content: '';
          background-color: $white;
          position: absolute;
        }
  
        &::before {
          width: 27px;
          height: 2px;
          top: 50%;
          transform: translateX(-50%);
        }
  
        &::after {
          @include absoluteAlignX;
          width: 2px;
          height: 27px;
        }
      }

      &.active .iconePLus  {
        display: block;
        margin-right: 10px;
        position: relative;
        transform: rotateZ(45deg);
        transition: 0.3s;
      }
    }

    .resposta {
      padding: 0 30px;
      height: 0px;
      padding: 0 30px;
      overflow-y: hidden;
      margin: 2px auto 5px auto;
      background-color: #303030;
      transition: 0.3s;

      p {
        font-size: 26px;
        line-height: 30px;
      }
  
      p + p {
        margin-top: 30px;
      }

      &.active {
        height: auto;
        padding: 35px 30px;
        transition: 0.3s;
      }
    }

  }

  & > p {
    font-size: 19px;
    text-align: center;
    margin: 65px 0 20px 0;
  }

  form {
    max-width: 635px;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 185px);
    grid-template-rows: 60px auto;
    grid-template-areas: "input btn" "msg msg";

    .paddingPlaceholder {
      grid-area: input;
      background-color: $white;
      display: flex;
      align-items: flex-end;
      position: relative;

      input {
        width: 100%;
        height: 45px;
        border: none;
        padding-left: 15px;

        &:focus {
          border: none;
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }

      .placeholderAnimation {
        @include absoluteAlignX;
        position: absolute;
        display: block;
        color:$gray_placeholder;
        left: 15px;
        transition: 0.3s;

        &.active {
          font-size: 13px;
          font-weight: 400;
          top: 15px;
          transition: 0.3s;
        }
      }

      &.err {
        border-bottom: 2px solid $err;
      }
    }

    .paddingPlaceholder.active {
      input {
        &:focus {
          border: none;
          box-shadow: 0 0 0 0;
          outline: 0;
        }

        .placeholderAnimation {
          font-size: 13px;
          font-weight: 400;
          top: 15px;
          transition: 0.3s;
        }
      }

      .placeholderAnimation {
        font-size: 13px;
        font-weight: 400;
        top: 15px;
        transition: 0.3s;
      }

      &.err {
        border-bottom: 2px solid $err;
      }
    }

    label {
      grid-area: msg;
      display: none;
      font-size: 13px;
      color: $red;
      margin-top: 5px;

      &.err {
        display: block;
      }
    }

    button {
      grid-area: btn;
      border: none;
      padding-left: 20px;
      background-color: $red;
      color: $white;
      font-size: 25px;
      text-align: start;
      font-family: 'Inter', sans-serif;
      position: relative;
      transition: 0.3s;

      &::after, &::before {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background-color: $white;
        position: absolute;
        right: 20px;
      }
      &::after {
        top: 24px;
        transform: rotate(40deg);
      }
      &::before {
        top: 35px;
        transform: rotate(-40deg);
      }
    }
  }

}

.footer {
  margin-bottom: 0;
  color: $gray_content;
  padding-top: 60px;
  background-color: $black;
  .containerFooter {
    max-width: 830px;
    margin: 0 auto;

    p {
      font-size: 15px;
    }

    .flexFooter {
      padding-top: 30px ;
      @include flexCenterBetween;

      ul {
        list-style: none;

        li {
          font-size: 13px;
          margin-bottom: 13px;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    .selectContainer {
      position: relative;
      margin: 20px 0;
      &::after {
        content: url('../img/globo\ icone.svg');
        display: block;
        position: absolute;
        @include absoluteAlignX;
        left: 13px;
      }

      &::before {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border: 6px solid $gray_content;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        position: absolute;
        top: 24px;
        left: 127px;
      }
    }

    select {
      font-size: 16px;
      padding: 20px 40px;
      background-color: transparent;
      border: 1px solid $gray_content;
      border-radius: 2px;
      color: $gray_content;
      -webkit-appearance: none;
      position: relative;

      option {
        border: none;
        background-color: $black;
      }
    }
  }
}

@media(max-width: 1000px) {
  .header {
    height: 770px;

    h3 {
      font-size: 23px;
      max-width: 460px;
      margin: 0 auto;
    }
  
    form {
      max-width: 500px;
      grid-template-columns: 1fr 115px 1fr;
      grid-template-areas: 
      'input input input'
      'msg . .'
      '. btn .';
      grid-template-rows: 60px auto 40px;
      row-gap: 5px;

      button {
        padding-left: 12px;
        font-size: 16px;

        &::after, &::before {
          width: 10px;
          right: 17px;
        }
        &::after {
          top: 18px;
        }
        &::before {
          top: 23px;
        }
      }
    }
  
  }

  .containerContainer {
    grid-template-columns: minmax(auto, 50px) 1fr minmax(auto, 50px);

    .sectionGrid {
      max-width: 845px;
      text-align: center;
      padding-bottom: 50px;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
      'title'
      'img';
  
      .title {
        position: relative;
        z-index: 200;
        h1 {
          font-size: 40px;
          margin: 70px 0 20px 0;
        }
    
        p {
          font-size: 20px;
          // margin-bottom: -15px;
        }
      }
  
      .img {
        margin: 0 auto;
  
        video { 
          width: 74%; 
          height: 100%;
          top: 48%;
          left: 49%;
          transform: translateY(-50%) translateX(-50%);
          position: absolute;
        }
      }
    }
  }

  .aproveiteNaTV {
    .sectionGrid {
      .title {
        p {
          font-size: 20px;
          margin-bottom: -40px;
        }
      }
    }

  }

  .assistaQuandoquiser {
    padding-top: 70px ;
    .sectionGrid {
      .title {
        padding-right: 50px;
      }
  
      .img {
        video { 
          width: 62%; 
          height: 100%;
          top: 33%;
          left: 49%;
          transform: translateY(-50%) translateX(-50%);
          position: absolute;
        }
      }
    }
  }

  .perguntasFrequentes {
    margin: 8px 0;
    padding: 75px 20px;
    background-color: $black;
  
    h1{
      margin-bottom: 50px;
      text-align: center;
      font-size: 50px;
    }
  
    .perguntasContainer {
      max-width: 700px;
  
      .pergunta {
        padding: 16px 30px;
        font-size: 20px;
  
        .iconePLus {
          &::before {
            width: 20px;
          }
          &::after {
            height: 20px;
          }
        }
      }
  
      .resposta {
        margin: 0 auto 5px auto;
        p {
          font-size: 20px;
          line-height: 30px;
        }
      }
  
    }
  
    & > p {
      max-width: 440px;
      font-size: 23px;
      margin: 65px auto 20px auto;
    }
  
    form {
      max-width: 500px;
      grid-template-columns: 1fr 115px 1fr;
      grid-template-areas: 
      'input input input'
      'msg . .'
      '. btn .';
      grid-template-rows: 60px auto 40px;
      row-gap: 5px;

      button {
        padding-left: 12px;
        font-size: 16px;

        &::after, &::before {
          width: 10px;
          right: 17px;
        }
        &::after {
          top: 18px;
        }
        &::before {
          top: 23px;
        }
      }
    }
  }
}

@media(max-width: 750px) {
  .header {
    height: 770px;

    h1 {
      max-width: 620px;
      font-size: 47px;
    }
  
    h3 {
      font-size: 18px;
      font-weight: 400;
    }

    form {
      grid-template-rows: 55px auto 40px;
    }
  
  }

  .footer {
    padding: 60px 30px;

    .containerFooter {
      .flexFooter {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
  
@media(max-width: 570px) {
  .header {
    padding: 30px 25px 0 25px;
    height: 620px;

    .flexHeader {
      max-width: 1240px;
      margin: 0 auto 158px auto;

      .logo {
        width: 95px;
        display: block;
      }

      .flexSelectLogin {
        column-gap: 10px;
  
        select {
          padding: 6px 25px;
        }
  
        a {
          font-size: 14px;
          padding: 7px 9px;
        }
      }
    }
  
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  
    h3 {
      font-size: 18px;
    }
  }

  .containerContainer {
    grid-template-columns: minmax(auto, 15px) 1fr minmax(auto, 15px);

    .sectionGrid {
  
      .title {
        position: relative;
        z-index: 200;
        h1 {
          font-size: 25px;
          margin: 70px 0 20px 0;
        }
    
        p {
          font-size: 18px;
        }
      }
  
      .img {
        margin: 0 auto;
  
        video { 
          width: 74%; 
          height: 100%;
          top: 48%;
          left: 49%;
          transform: translateY(-50%) translateX(-50%);
          position: absolute;
        }
      }
    }
  }

  .baixeSéries {
    .sectionGrid {
      .img {
        padding: 20px;
      }
      .subFlex {
        padding: 10px 0 10px 12px; 
        width: 270px;        
        bottom: 40px;

        .imgCapa {
          max-width: 35px;
        }
  
        .subTitle {
          p {
            font-size: 14px;
            text-align: left;
          }
  
          span {
            font-size: 12px;
            
          }
        }
  
        .icodeDeLoading {
          max-width: 40px;
        }
      }
    }
  } 
  
  .assistaQuandoquiser {
    padding-top: 0;
    .sectionGrid {
      .title {
        padding-right: 0;
      }
  
      .img {
        video { 
          width: 62%; 
          height: 100%;
          top: 33%;
          left: 49%;
          transform: translateY(-50%) translateX(-50%);
          position: absolute;
        }
      }
    }
  }
  
  .perguntasFrequentes {
    padding: 50px 0;
  
    h1{
      margin-bottom: 50px;
      font-size: 26px;
    }
  
    .perguntasContainer {
      .pergunta {
        padding: 16px 30px;
        font-size: 18px;
      }
  
      .resposta {
        p {
          font-size: 18px;
        }

        &.active {
          padding: 20px;
        }
      }
  
    }
  
    & > p {
      font-size: 18px;
    }
  
    form {
      max-width: 395px;
    }
  }

  .footer {
    padding: 60px 30px;

    .containerFooter {
      .flexFooter {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
